
.popup-content {
    margin: auto;
    background: rgb(248, 220, 220);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(27, 26, 26);
  }
  [role='tooltip'].popup-content {
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
@media screen and (max-width: 500px) {

.popup-content {
    margin: auto;
    background: rgb(248, 220, 220);
    
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(10, 10, 10);
  }
  [role='tooltip'].popup-content {
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }


}