*{
  margin:0px;
  padding:0px
}
body{
  font-family: Arial;
  width: 100%;
}
.container {
  
  text-align: center;
  width: 100%;
  /* letter-spacing: 2px; */
  line-height: 35px;
}
.cards1{
    width:100%;
    /* align-items: center; */
    display: inline-block;
    background-color:white;
    border-radius: 5px;
    margin-top:10px;
    box-shadow: 2px 2px 10px grey;
  }
  .cards1:hover{
    box-shadow: 2px 2px 10px black;
  }
  .image1 {
    border: 1px solid white;
    float: left;
  }
  .image1 button{
    background-color: rgb(238, 124, 48);
    color: white;
    border: none;
    font-size: x-large;
    border-radius: 5px;
  }
  .image1 img{
    
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* margin:10px */
  }
  .title1{
    text-align: left;
    font-size: x-large;
    margin: 5px;
  }
  .speci{
    display: inline;
  }
  .descr1{
    
    text-align: left;
  }
  .t2{
    padding-left: 2rem;
    
  }
  .veh_num{
    padding-left: 2rem;
    font-size: large;
    
  }
  .home_city{
    padding-left: 2rem;
    color:chocolate
  }
  .vehicle_model{
    padding-left: 2rem;
    font-size: larger;
  }
  td {
    padding-left: 2rem;
    /* text-align: center; */
  }
  button{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding:5px;
    border-radius: 5px;
  
  }
  /* button:hover{
    background-color :rgb(147, 112, 243);
    color:white;
    transition: .5s;
    cursor:pointer
  } */

  @media screen and (max-width: 700px) {
    .cards1{
      width:100%;
      
      display: inline-block;
      background-color:white;
      border-radius: 5px;
      margin-top:10px;
      box-shadow: 2px 2px 10px grey;
    }
    .cards1:hover{
      box-shadow: 2px 2px 10px black;
    }
    .image1 {
      border: 1px solid white;
      float: left;
    }
    .image1 img{
      
      
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      /* margin:10px */
    }
    .image1 button{
      background-color: rgb(238, 124, 48);
      color: white;
      border: none;
      font-size: large;
      border-radius: 5px;
    }
    .title1{
      text-align: center;
      margin: 5px;
    }
    .descr1{
      margin-left: auto;
      margin-right: auto;
      
      text-align: center;
    }

    button{
      margin-top: 20px;
      margin-bottom: 20px;
      
      border: 1px solid black;
      padding:5px;
      border-radius: 5px;
    
    }
    button:hover{
      background-color :rgb(101, 153, 230);
      color:white;
      transition: .5s;
      cursor:pointer
    }
    td{
      font-size: x-small;
    }
  
  }